* {

    margin: 0;
    padding: 0;

    --primary-color: #201F20; 
    --secondary-color: #b439c7; 
    --highlights-color: #DB45F1;
    --font-color: white ; 
    --title-font: 'Montserrat', sans-serif;
    --secondary-font-color:#808080;
    --main-font: 'Roboto', sans-serif;
    --pixel-font: 'Pixelify Sans', sans-serif;
    
  }

  .nav-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .logo-container{
    width: 80%;
    display: flex;
    align-items: center;
  }

  .main-logo{
    margin-left: 40px;
    font-size: 24px;
    font-family: var(--title-font);
    color: var(--font-color);
    text-decoration: none;
  }


  .right-container{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-btn{
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--highlights-color);
    width: 60px;
    height: 26px;
    text-align: center;
    font-family: var(--title-font);
    border-radius: 4px;
    line-height: 26px;
  }

  .gh-btn{
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--highlights-color);
    width: 90px;
    height: 26px;
    text-align: center;
    font-family: var(--title-font);
    border-radius: 4px;
    line-height: 26px;
  }

  /* main-section */


  .main-lobby-section{
    width: 100%;
    height: calc(100vh - 100px);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .highlight{
    color: var(--highlights-color);
  }

  .main-title{
    font-size: 50px;
    font-family: var(--title-font);
    margin-bottom: 16px;
  }

  .main-description{
    font-size: 22px;
    font-family: var(--main-font);
    color: var(--secondary-font-color);
  }

  .lets-go-btn{
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 60px;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-image: linear-gradient(to right, var(--secondary-color), var(--highlights-color));
    border-image-slice: 1;
    border-radius: 5px;
    font-family: var(--title-font);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .lets-go-btn:hover {
    color: var(--font-color);
}

.main-footer{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.main-footer img{
  width: 26px;
}

/* lenguages */

.section-lenguages-container{
  width: 100%;
  height: 100vh;
  background-color: #b439c7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-lenguages-container{
  width: 90%;
  height: 500px;
  background-color: aqua;
  border-radius: 20px;
  display: flex;
}

.lenguages-grid-container{
  width: 50%;
  height: 100%;
  background-color: beige;
}

.grid-description{
  width: 50%;
  height: 100%;
}

#grid-item-image{
  width: 60px;
  height: 60px;
}






